a{
 text-decoration: none;
}
.product__container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 32px  72px;
    margin: 0px;
    background-color: #d5d4d4;
}

.img-field{
border: none;
border-radius: 0.51rem; 
}
.img-field img{
   border-radius: 0.5rem;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    margin-top: 5px;
    background-color: #ea4c89;
    background-color: #fff;
    border:none;
}
.card-footer:last-child{
    border-radius: 0px;
}

.user_profile_link
.user_profile_photo{
    width: 24px;
    height: 24px;
    border-radius: 50%;   
}
.card-left-content,.card-right-content{
    margin: 0px 10px;
}

.card-left-content .display-name{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 8px;
    margin-bottom: 0px;
    color: #0d0c22;
}

 .badge{
    border-radius: 3px;
    background: #ccc;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    padding: 2px 3px;
    margin-left: 8px;
}


/* Load more */
.load-more-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.load-more-btn
.load-more{
    background: #f3f3f4;
    color: #0d0c22;
    padding: 0.625rem 3rem;
    border-radius: 8px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}


@media screen and (max-width:1331px)
and (min-width:1200px){
    .card_layout{
      padding: 32px 72px 40px 72px;
    }
}

@media screen and (max-width:1331px)
and (min-width:946px){
    .cards_container{
        display:flex;
        justify-content: stretch;
        flex:  calc(100% / 3);
    }
    .product__container{
    padding:2rem 2rem 2.5rem 2rem;
}
}

@media screen and (max-width:945px)
and (min-width:767px){
     .product__container{
    padding:2rem 2rem 2.5rem 2rem;
}
}
@media screen and (max-width:768px)
{ 
     .product__container{
    padding:2rem 1.25rem 2.5rem 1.25rem;
}
}





















.card-right-content{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    /* font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;    */
}

.card-right-content   span{
    align-self: center;
    color: #0d0c22;
     font-size: 0.75rem;
}
.view_shots,.like_shots{
     font-size: 0.85rem;
    font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #9e9ea7;
}
.fa-eye:hover, 
.fa-heart:hover{
color: #ea4c89;
}
.badge-team:hover{
background-color: #ea4c89;
color: #fff;
}

